[defaults]
inventory = h.yml
host_key_checking = false
command_warnings = false
ansible_python_interpreter = "/usr/bin/python3"

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no

